p {
  color: rgb(80, 89, 207);
  display: inline;
  cursor: pointer;
}
div {
  width: 60vw;
  height: 60vh;
  position: fixed;
  bottom: 0px;
  right: 0px;
  display: flex;
  img {
    filter: invert(1);
  }

  .first {
    animation: animation 5s ease-in-out infinite;
  }

  .second {
    animation: animationSecond 6s ease-in-out infinite;
  }
}

@keyframes animation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes animationSecond {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}
