<!-- <div class="element">
  <div class="row">
    <div class="logo">
      <a target="_blank" href="{{ track.album.external_urls.spotify }}">
        <img src="../../../assets//Spotify_Logo_RGB_White.png" />
      </a>
    </div>
  </div>
  <div class="row">
    <div class="album col-sm-12 col-md-6 col-lg-5 col-xl-4 mx-auto">
      <img src="{{ imageUrl }}" />
    </div>
    <div class="col-sm-0 col-md-6 col-lg-7 col-xl-8 mx-auto">
      <div class="row">
        <h1>{{ track.name }}</h1>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mx-auto">
           <div class="details">
            <p>Czas trawania:</p>
            <p>{{ minutes }} : {{ seconds }}</p>
          </div>
          <div class="details">
            <p>Popularność:</p>
            <p>{{ track.popularity }} na 100</p>
          </div>
          <div class="details">
            <p>Data wydania albumu:</p>
            <p>{{ track.album.release_date }}</p>
          </div> 
        </div>
        <div class="col-sm-0 col-md-12 col-lg-6 col-xl-6 mx-auto">
          <div class="name">
            <div class="details">
              <p *ngIf="track.artists.length == 1">Wykonawca:</p>
              <p *ngIf="track.artists.length > 1">Wykonawcy:</p>
              <ul>
                <li *ngFor="let artist of track.artists">{{ artist.name }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="buttons">
          <button
            (click)="onPlayMusic()"
            title="Odtwórz 30 sekund"
            [disabled]="!linkToMusic"
          >
            <img src="../../../assets/outline_play_arrow_white_48dp.png" />
          </button>
          <button
            (click)="changeTrackSaving()"
            title="{{ isSaved ? 'Usuń z ulubionych' : 'Dodaj do ulubionych' }}"
          >
            <img
              src="{{
                isSaved
                  ? '../../../assets/heart-64.svg'
                  : '../../../assets/heart-64 unliked.svg'
              }}"
            />
          </button>
          <a routerLink="{{ '/track/' + track.id }}">
            <button title="Dowiedz się więcej o utworze">
              <img src="../../../assets/more_horiz_white_48dp.svg" />
            </button>
          </a>
        </div>
      </div>

      <p *ngIf="linkToMusic">Posłuchaj fragmentu utworu</p>
      <p *ngIf="!linkToMusic">
        Niestety nie mogę odtworzyć fragmentu tego utworu :(
      </p>
      <p *ngIf="!linkToMusic">
        Kliknij na logo Spotify by zobaczyć ją w serwisie Spotify
      </p>
    </div>
  </div>
</div> -->

<div class="element">
  <div class="image">
    <img src="{{ track.album.images[1].url }}" />
  </div>
  <div class="background">
    <div id="standard-info">
      <h1>{{ track.name }}</h1>
      <div class="artists">
        <div class="artist" *ngFor="let artist of track.artists">
          <p>{{ artist.name }}</p>
        </div>
      </div>
    </div>
    <div class="buttons">
      <button
        (click)="onPlayMusic()"
        title="Odtwórz 30 sekund"
        [disabled]="!linkToMusic"
      >
        <img src="../../../assets/outline_play_arrow_white_48dp.png" />
      </button>
      <button
        (click)="changeTrackSaving()"
        title="{{ isSaved ? 'Usuń z ulubionych' : 'Dodaj do ulubionych' }}"
      >
        <img
          src="{{
            isSaved
              ? '../../../assets/heart-64.svg'
              : '../../../assets/heart-64 unliked.svg'
          }}"
        />
      </button>
      <a routerLink="{{ '/track/' + track.id }}">
        <button title="Dowiedz się więcej o utworze">
          <img src="../../../assets/more_horiz_white_48dp.svg" />
        </button>
      </a>
      <a href="{{ track.album.external_urls.spotify }}">
        <button title="Otwórz w spotify">
          <img src="../../../assets/icon.png" />
        </button>
      </a>
    </div>
  </div>
  <div class="player">
    <app-music-player></app-music-player>
  </div>
</div>
