p {
    color: rgb(80, 89, 207);
    display: inline;
    cursor: pointer;
  }
  div {
    width: 60vw;
    height: 60vh;
    position: fixed;
    bottom: 0px;
    right: 0px;
    display: flex;
  }
  

  