<div class="navigationpanel">
  <div class="left">
    <a
      class="link"
      routerLink="/recommend"
      (click)="hideNavigation()"
      *ngIf="isLogin"
      [routerLinkActive]="['activeLink']"
    >
      <p>Strona główna</p>
    </a>
    <a
      class="link"
      routerLink="/top/tracks"
      (click)="hideNavigation()"
      *ngIf="isLogin"
      [routerLinkActive]="['activeLink']"
    >
      <p>Top utwory</p>
    </a>
    <a
    class="link"
    routerLink="/top/artists"
    (click)="hideNavigation()"
    *ngIf="isLogin"
    [routerLinkActive]="['activeLink']"
  >
    <p>Top wykonawcy</p>
  </a>
    <a class="link" (click)="onLogin()" *ngIf="!isLogin">
      <p>Zaloguj</p>
    </a>
  </div>
  <div class="right" *ngIf="isLogin">
    <div class="userName">
      <div class="link">
        <p>Cześć, {{ name }}</p>
      </div>
      <img src="{{ avatar }}" />
      <div class="openOrClose" (click)="onShow()" *ngIf="visible">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <button (click)="connectDevice()">
        <img src="assets/devices_black_48dp.svg" />
        <img *ngIf="connected" id="check" src="assets/done_black_24dp.svg" />
      </button>
      <button (click)="onLogout()">
        <img src="assets/logout_black_48dp.svg" />
      </button>
    </div>
  </div>
</div>

<div
  class="hiddenNav"
  [ngClass]="{ open: isOpen, close: !isOpen }"
  *ngIf="visible"
>
  <div class="buttons">
    <button class="logout" (click)="onLogout()">
      <img src="assets/logout_white_48dp.svg" />
    </button>
    <button class="logout" (click)="onShow()">
      <img src="assets/close_white_48dp.svg" />
    </button>
  </div>
  <a
    class="link"
    routerLink="/recommend"
    (click)="hideNavigation()"
    *ngIf="isLogin"
    [routerLinkActive]="['activeLink']"
  >
    <p>Strona główna</p>
  </a>
  <a
  class="link"
  routerLink="/top/tracks"
  (click)="hideNavigation()"
  *ngIf="isLogin"
  [routerLinkActive]="['activeLink']"
>
  <p>Top utwory</p>
</a>
<a
class="link"
routerLink="/top/artists"
(click)="hideNavigation()"
*ngIf="isLogin"
[routerLinkActive]="['activeLink']"
>
<p>Top wykonawcy</p>
</a>
</div>
