<div class="footer" *ngIf="track">
  <div class="panel">
    <div class="main">
      <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-3 col-xl-2 mx-auto">
          <img
            id="albumImg"
            [ngClass]="{ animation: !isPaused }"
            src="{{ track.album.images[1].url }}"
          />
        </div>
        <div
          class="col-sm-12 col-md-6 col-lg-6 col-xl-8 mx-auto"
          *ngIf="!isLoading"
        >
          <div class="row">
            <div class="col-12">
              <div class="buttons">
                <button
                  (click)="onClick()"
                  [disabled]="!track.name"
                  title="{{ isPaused ? 'Odtwórz utwór' : 'Zapauzuj utwór' }}"
                >
                  <img
                    id="buttonImg"
                    src="assets/pause_white_24dp.svg"
                    *ngIf="!isPaused"
                  />
                  <img
                    id="buttonImg"
                    src="assets/play_arrow_white_24dp.svg"
                    *ngIf="isPaused"
                  />
                </button>
                <button (click)="clearPlayer()">
                  <img id="buttonImg" src="assets/close_white_48dp.svg" />
                </button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="time">
                  <p>
                    {{ minutes }} :
                    {{ seconds < 10 ? "0" + seconds : seconds }}
                  </p>
                </div>
                <div class="ranger">
                  <input
                    #ranger
                    type="range"
                    min="{{ minValue }}"
                    max="{{ maxValue }}"
                    value="{{ actuallValue }}"
                    step="0.02"
                    (change)="valueChange(ranger.value)"
                    (input)="valueInput(ranger.value)"
                  />
                </div>
                <div class="time">
                  <p>
                    {{ totalMinutes }}:{{
                      totalSeconds < 10 ? "0" + totalSeconds : totalSeconds
                    }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="col-sm-12 col-md-6 col-lg-6 col-xl-8 mx-auto"
          *ngIf="isLoading"
        >
          <app-smaller-loading></app-smaller-loading>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 col-xl-2 mx-auto">
          <div id="volumeIcon">
            <img src="assets/volume_up_white_48dp.svg" />
          </div>
          <input
            #volumeRange
            type="range"
            min="0"
            max="1"
            step="0.05"
            (input)="volumeInput(volumeRange.value)"
          />
        </div>
      </div>
    </div>
  </div>
</div>
