<div class="panel">
  <div class="header">
    <p *ngIf="trackName">Aktualne grane: {{ trackName }}</p>
  </div>
  <div class="main">
    <button (click)="onClick()" [disabled] = "!trackName">
      <img src="../../../assets/pause_white_24dp.svg" *ngIf="!isPaused" />
      <img src="../../../assets/play_arrow_white_24dp.svg" *ngIf="isPaused" />
    </button>

    <input
      #ranger
      type="range"
      min="{{ minValue }}"
      max="{{ maxValue }}"
      value="{{ actuallValue }}"
      step="0.02"
      (input)="valueChange(ranger.value)"
      (change)="valueChange(ranger.value)"
    />
  </div>
</div>
