<div class="advanced">
  <div id="tempo">
    <input
      type="range"
      (change)="changed()"
      min="0"
      max="160"
      step="40"
      [(ngModel)]="advancedSettings.tempo"
    />
    <p>Tempo</p>
    <p>Średnie</p>
  </div>
  <div id="dancebility">
    <input
      type="range"
      (change)="changed()"
      min="0"
      max="1"
      step="0.1"
      [(ngModel)]="advancedSettings.danceability"
    />
    <p>Taneczność</p>
    <p>Średnie</p>
  </div>
  <div id="energy">
    <input
      type="range"
      (change)="changed()"
      min="0"
      max="1"
      step="0.1"
      [(ngModel)]="advancedSettings.energy"
    />
    <p>Energia</p>
    <p>Średnie</p>
  </div>
  <div id="mood">
    <input type="range" (change)="changed()" min="0" max="1" step="0.1" />
    <p>Nastrój</p>
    <p>Średnie</p>
  </div>
  <div id="instrumentalnss">
    <input
      type="range"
      (change)="changed()"
      min="0"
      max="1"
      step="0.1"
      [(ngModel)]="advancedSettings.instrumentalness"
    />
    <p>Instrumentalność</p>
    <p>Średnie</p>
  </div>
  <div id="acousticness">
    <input
      type="range"
      (change)="changed()"
      min="0"
      max="1"
      step="0.1"
      [(ngModel)]="advancedSettings.acousticness"
    />
    <p>Akustyka</p>
    <p>Średnie</p>
  </div>
</div>
