<div
  class="advanced"
  [ngClass]="{ hidden: hideComponent, showed: !hideComponent }"
>
  <h1>Parametry rekomendacji</h1>
  <button (click)="onHide()">
    <img
      [ngClass]="{ rotate: !hideComponent }"
      src="../../../../../assets/expand_more_black_24dp.svg"
    />
  </button>
  <div>
    <div id="tempo">
      <input
        type="range"
        (change)="changed()"
        min="0"
        max="160"
        step="40"
        [(ngModel)]="advancedSettings.tempo"
      />
      <p>Tempo</p>
      <p>{{ tempValueDesc }}</p>
    </div>
    <div id="dancebility">
      <input
        type="range"
        (change)="changed()"
        min="0"
        max="1"
        step="0.1"
        [(ngModel)]="advancedSettings.danceability"
      />
      <p>Taneczność</p>
      <p>{{ danceValueDesc }}</p>
    </div>
    <div id="energy">
      <input
        type="range"
        (change)="changed()"
        min="0"
        max="1"
        step="0.1"
        [(ngModel)]="advancedSettings.energy"
      />
      <p>Energia</p>
      <p>{{ energyValueDesc }}</p>
    </div>
    <div id="speechiness">
      <input
        type="range"
        (change)="changed()"
        min="0"
        max="1"
        step="0.1"
        [(ngModel)]="advancedSettings.speechiness"
      />
      <p>Wokal</p>
      <p>{{ accousticSpechDesc }}</p>
    </div>
    <div id="instrumentalnss">
      <input
        type="range"
        (change)="changed()"
        min="0"
        max="1"
        step="0.1"
        [(ngModel)]="advancedSettings.instrumentalness"
      />
      <p>Instrumentalność</p>
      <p>{{ instrValueDesc }}</p>
    </div>
    <div id="acousticness">
      <input
        type="range"
        (change)="changed()"
        min="0"
        max="1"
        step="0.1"
        [(ngModel)]="advancedSettings.acousticness"
      />
      <p>Akustyka</p>
      <p>{{ accousticValueDesc }}</p>
    </div>
  </div>
</div>
