<section>
  <div
    class="block"
    *ngFor="let a of added; let i = index"
    (click)="onRemove(i)"
  >
    <p *ngIf="a.name; else elseBlock">{{ a.name }}</p>
    <img src="../../../../../assets/remove_white_48dp.svg" />
    <ng-template #elseBlock>
      <p #elseBlock>{{ a }}</p>
    </ng-template>
  </div>
  <div class="block" *ngIf="added.length < 5" (click)="onAddMore()">
    <img src="../../../../../assets/add_white_48dp.svg" />
  </div>
  <app-modal
    *ngIf="showModal"
    [genres]="genres"
    [artists]="artists"
    [tracks]="tracks"
    (close) = "onCloseModal()"
    (add) = "onAdd($event)"
  ></app-modal>
</section>
