.primary {
  background-color: white; // #4f90d3;
  -webkit-box-shadow: 31px 30px 100px -41px rgba(66, 68, 90, 1);
  -moz-box-shadow: 31px 30px 100px -41px rgba(66, 68, 90, 1);
  box-shadow: 31px 30px 100px -41px rgba(66, 68, 90, 1);
  backdrop-filter: blur(17px);
  -webkit-backdrop-filter: blur(17px);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border: 1px solid black;
}
.section {
  background-color: white; // #4f90d3;
  -webkit-box-shadow: 31px 30px 100px -41px rgba(66, 68, 90, 1);
  -moz-box-shadow: 31px 30px 100px -41px rgba(66, 68, 90, 1);
  box-shadow: 31px 30px 100px -41px rgba(66, 68, 90, 1);
  backdrop-filter: blur(17px);
  -webkit-backdrop-filter: blur(17px);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border: 1px solid black;
  max-height: 200px;
  overflow-y: scroll;
}

.block {
  background-color: #031b88b4;
  border-radius: 25px;
  border: 1px solid black;
  display: inline-flex;
  margin: 10px;

  p {
    text-align: center;
    color: #eee;
    font-size: 25px;
    margin: 0;
    padding: 10px 0 10px 20px;
  }
}
