<div *ngIf="loadingTrack || loadingTrackFeatures">
  <app-loading></app-loading>
</div>
<div *ngIf="!loadingTrack">
  <app-music-card [track]="track"></app-music-card>
</div>
<div *ngIf="!loadingTrackFeatures">
  <div class="element">
    <div class="row">
      <div class="col-12">
        <h1>Statystyki</h1>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mx-auto">
          <div class="details">
            <p>Energia</p>
            <p>{{ (trackFeature.energy * 100).toFixed(2) }}</p>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mx-auto">
          <div class="details">
            <p>Taneczność</p>
            <p>{{ (trackFeature.danceability * 100).toFixed(2) }}</p>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mx-auto">
          <div class="details">
            <p>Mowa</p>
            <p>{{ (trackFeature.speechiness * 100).toFixed(2) }}</p>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mx-auto">
          <div class="details">
            <p>Akustyka</p>
            <p>{{ (trackFeature.acousticness * 100).toFixed(2) }}</p>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mx-auto">
          <div class="details">
            <p>Żywotność</p>
            <p>{{ (trackFeature.liveness * 100).toFixed(2) }}</p>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mx-auto">
          <div class="details">
            <p>Instrumentalność</p>
            <p>{{ (trackFeature.instrumentalness * 100).toFixed(2) }}</p>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mx-auto">
          <div class="details">
            <p>Wartościowość</p>
            <p>{{ (trackFeature.valence * 100).toFixed(2) }}</p>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mx-auto">
          <div class="details">
            <p>Głosność</p>
            <p>{{ (trackFeature.loudness * 100).toFixed(2) }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
