<app-loading *ngIf="isLoadingTop && isLoadingGenres"></app-loading>
<form
  (ngSubmit)="onRecommend()"
  #form="ngForm"
  *ngIf="!isLoadingTop || !isLoadingGenres"
>
  <div class="sel">
    <label for="artists">Wybierz artystę na początek</label>
    <select
      [disabled]="!artistCheckBox"
      *ngIf="selectedArtist"
      name="artists"
      id="artists"
      [ngModel]="selectedArtist.id"
    >
      <option *ngFor="let artist of artists" value="{{ artist.id }}">
        {{ artist.name }}
      </option>
    </select>
    <label class="checkbox">
      <input
        type="checkbox"
        [checked]="artistCheckBox"
        (change)="artistCheckBox = !artistCheckBox"
      />
      <span></span>
    </label>
  </div>

  <div class="sel">
    <label for="genres">Wybierz gatunek na początek</label>
    <select
      [disabled]="!genreCheckBox"
      *ngIf="selectedGenres"
      name="genres"
      id="genres"
      [(ngModel)]="selectedGenres"
      (change)="t()"
    >
      <option  *ngFor="let genre of genres" value="{{ genre }}">
        {{ genre }}
      </option>
    </select>
    <label class="checkbox">
      <input
        type="checkbox"
        [checked]="genreCheckBox"
        (change)="genreCheckBox = !genreCheckBox"
      />
      <span></span>
    </label>
  </div>

  <div class="sel">
    <label for="tracks">Wybierz utwór na początek</label>
    <select
      [disabled]="!nameCheckBox"
      *ngIf="selectedTrack"
      name="tracks"
      id="tracks"
      [ngModel]="selectedTrack.id"
    >
      <option *ngFor="let track of tracksNameList" value="{{ track.id }}">
        {{ track.name }}
      </option>
    </select>
    <label class="checkbox">
      <input
        type="checkbox"
        [checked]="nameCheckBox"
        (change)="nameCheckBox = !nameCheckBox"
      />
      <span></span>
    </label>
  </div>
  {{
    !nameCheckBox && !genreCheckBox && !artistCheckBox
      ? "Przynajmniej jedno musi być zaznaczona"
      : ""
  }}
  <div class="trackNumberSelect">
    <label for="limit">Liczba polecanych</label>
    <input
      type="number"
      name="limit"
      id="limit"
      min="1"
      max="100"
      [(ngModel)]="limit"
    />
  </div>
  <div class="buttons">
    <button type="button" (click)="randomSettings()">
      Losuj podstawowe ustawienia
    </button>
    <button type="button" (click)="advanceButton()">
      {{ advancedVisible ? "Ukryj zaawansowane" : "Pokaż zaawansowane" }}
    </button>
  </div>
  <div class="advanced" *ngIf="advancedVisible">
    <h1>Zaawansowane</h1>
    <div>
      <div>
        <label for="minDuration"
          >Minimalny czas trwania
          {{
            minDuration ? ": " + (minDuration / 60000).toFixed(2) : ""
          }}</label
        >
        <input
          type="range"
          name="minDuration"
          id="minDuration"
          min="0"
          max="1000000"
          step="10000"
          [(ngModel)]="minDuration"
          [ngClass]="{
            green: minDuration
              ? maxDuration
                ? minDuration < maxDuration
                : true
              : false,
            red: maxDuration && minDuration && minDuration > maxDuration
          }"
        />
      </div>
      <div>
        <label for="maxDuration"
          >Maksymalny czas trwania
          {{
            maxDuration ? ": " + (maxDuration / 60000).toFixed(2) : ""
          }}</label
        >
        <input
          type="range"
          name="maxDuration"
          id="maxDuration"
          min="0"
          max="1000000"
          step="10000"
          [(ngModel)]="maxDuration"
          [ngClass]="{
            green: maxDuration
              ? minDuration
                ? minDuration < maxDuration
                : true
              : false,
            red: maxDuration && minDuration && minDuration > maxDuration
          }"
        />
      </div>
    </div>
    <div>
      <div>
        <label for="minTempo"
          >Minimalne tempo {{ minTempo ? ": " + minTempo : "" }}</label
        >

        <input
          type="range"
          name="minTempo"
          id="minTempo"
          min="0"
          max="200"
          [(ngModel)]="minTempo"
          [ngClass]="{
            green: minTempo ? (maxTempo ? minTempo < maxTempo : true) : false,
            red: minTempo && maxTempo && minTempo > maxTempo
          }"
        />
      </div>

      <div>
        <label for="maxTempo"
          >Maksymalne tempo {{ maxTempo ? ": " + maxTempo : "" }}
        </label>

        <input
          type="range"
          name="maxTempo"
          id="maxTempo"
          min="0"
          max="200"
          [(ngModel)]="maxTempo"
          [ngClass]="{
            green: maxTempo ? (minTempo ? minTempo < maxTempo : true) : false,
            red: maxTempo && minTempo && minTempo > maxTempo
          }"
        />
      </div>
    </div>

    <div>
      <div>
        <label for="minPopularity"
          >Minimalna pupularność
          {{ minPopularity ? ": " + minPopularity : "" }}</label
        >

        <input
          type="range"
          name="minPopularity"
          id="minPopularity"
          min="0"
          max="100"
          [(ngModel)]="minPopularity"
          [ngClass]="{
            green: minPopularity
              ? maxPopularity
                ? minPopularity < maxPopularity
                : true
              : false,
            red: minPopularity && maxPopularity && minPopularity > maxPopularity
          }"
        />
      </div>
      <div>
        <label for="maxPopularity"
          >Maksymalna popularność
          {{ maxPopularity ? ": " + maxPopularity : "" }}</label
        >
        <input
          type="range"
          name="maxPopularity"
          id="maxPopularity"
          min="0"
          max="100"
          [(ngModel)]="maxPopularity"
          [ngClass]="{
            green: maxPopularity
              ? minPopularity
                ? minPopularity < maxPopularity
                : true
              : false,
            red: maxPopularity && minPopularity && minPopularity > maxPopularity
          }"
        />
      </div>
    </div>
    <button type="button" (click)="resetAdvanced()">
      Resetuj zaawansowane
    </button>
  </div>

  <button type="submit">Odśwież Rekomendacje</button>
</form>
*Dostępni do wyboru artyści oraz utwory bazują na twoich najczęściej słuchanych
utworach
