button {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  background: #191414;
  border: 2px solid black;
  color: #fff;
  box-shadow: none;
  padding: 5px;
  transition: 0.4s;
}

button:hover {
  transform: scale(1.1);
  background: white;
  color: #191414;
  border: 2px solid black;
}

.panelPart{
  margin: 10px;
  transition: 1s;
}

.hidden{
  display: none;
}

.showed{
  display: block;
}






