<div class="element">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-5 col-xl-4 mx-auto">
      <a target="_blank" href="{{ track.album.external_urls.spotify }}">
        <img src="{{ imageUrl }}" />
      </a>
    </div>
    <div class="col-sm-0 col-md-6 col-lg-7 col-xl-8 mx-auto">
      <div class="name">
        <div class="link">
          <a target="_blank" href="{{ track.album.external_urls.spotify }}">
            <h1>{{ track.name }}</h1></a
          >
        </div>
      </div>
      <div class="name">
        <ul>
          <li *ngFor="let artist of track.artists">{{ artist.name }}</li>
        </ul>
      </div>
      <div>
        <button
          (click)="onPlayMusic()"
          [disabled]="!isAudioAvailable || !audio.paused"
        >
          <mat-icon>play_arrow</mat-icon>
        </button>
        <button (click)="onPauseMusic()" [disabled]="audio.paused">
          <mat-icon>pause</mat-icon>
        </button>
        <button (click)="onReplay()" [disabled]="musicTime == 0">
          <mat-icon>replay</mat-icon>
        </button>
        <button (click)="changeTrackSaving()">
          <img
            src="{{
              isSaved
                ? '../../../assets/heart-64.svg'
                : '../../../assets/heart-64 unliked.svg'
            }}"
          />
        </button>
      </div>
      <p *ngIf="!isAudioAvailable">
        Niestety nie mogę odtworzyć fragmentu tego utworu :(
      </p>
      <p *ngIf="!isAudioAvailable">
        Kliknij na nazwę utworu lub zdjęcie by zobaczyć ją w serwisie Spotify
      </p>
    </div>
  </div>
</div>
