<div class="element">
  <div class="row">
    <div class="logo">
      <a target="_blank" href="{{ track.album.external_urls.spotify }}">
        <img src="../../../assets//Spotify_Logo_RGB_White.png" />
      </a>
    </div>
  </div>
  <div class="row">
    <div class="album col-sm-12 col-md-6 col-lg-5 col-xl-4 mx-auto">
      <img src="{{ imageUrl }}" />
    </div>
    <div class="col-sm-0 col-md-6 col-lg-7 col-xl-8 mx-auto">
      <div class="name">
        <div class="link">
          <h1>{{ track.name }}</h1>
        </div>
      </div>
      <div class="name">
        <ul>
          <li *ngFor="let artist of track.artists">{{ artist.name }}</li>
        </ul>
      </div>
      <div class="buttons">
        <button (click)="onPlayMusic()" [disabled]="!linkToMusic">
          <img src="../../../assets/outline_play_arrow_white_48dp.png" />
        </button>
        <button (click)="changeTrackSaving()">
          <img
            src="{{
              isSaved
                ? '../../../assets/heart-64.svg'
                : '../../../assets/heart-64 unliked.svg'
            }}"
          />
        </button>
      </div>
      <p *ngIf="linkToMusic">Posłuchaj fragmentu utworu</p>
      <p *ngIf="!linkToMusic">
        Niestety nie mogę odtworzyć fragmentu tego utworu :(
      </p>
      <p *ngIf="!linkToMusic">
        Kliknij na logo Spotify by zobaczyć ją w serwisie Spotify
      </p>
    </div>
  </div>
</div>
