<!-- <div class="element">
    <div class = "image"> 
        <img src={{imageUrl}}> 
    </div>

    <div class="name">
        <h1>{{songInfo.name}}</h1>
    </div>
</div> -->


    <div class="element">
        <div class="row">
            <div class="col-md-4">
                <div class="image">
                    <img src={{imageUrl}}>
                </div>
            </div>
            <div class="col-md-8">
                <div class="name">
                    <h1>{{songInfo.name}}</h1>
                </div>
            </div>
        </div>
    </div>
