.element{
    padding: 20px;
    border-color: rgb(14, 45, 80);
    border-style: solid;
    border-width: 5px;
    border-radius: 20px;
    border-spacing: 10px;
    background-color: black;
    color: white;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 5px;
    border-radius: 20px;
    border-spacing: 10px;
    border-color: rgb(14, 45, 80);
}